<div class="container my-5">
  <div class="cards-area row g-4 pb-5 mt-4 p-4" style="background-color: #fff; border-radius: 24px;">
    <h1> ❤️ Favorites</h1>
    <% if @books.present? %>
      <% @books.each do |favorite| %>
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex mt-5">
          <%= link_to book_path(favorite), style: "text-decoration: none; color: inherit;" do %>
            <div class="card rounded h-100 w-100 shadow" style="background-color: #fff; box-shadow: 0 4px 16px rgba(0,0,0,0.10); border-radius: 32px;">
              <% if favorite.cover_image.attached? %>
                <%= image_tag favorite.cover_image,
                  class: "card-img-top rounded",
                  style: "max-height: 300px; object-fit: cover; border-radius: 32px 32px 0 0;" %>
              <% else %>
                <p>No cover image available.</p>
              <% end %>
              <div style="margin: 12px 20px 12px;">
                <div class="book-title"><strong><%= favorite.title %></strong></div>
                <div class="book-author"><%= favorite.author %></div>
              </div>
              <div style="margin: 8px 8px 8px 8px;">
                <%= render partial: "favorites/create", locals: { book: favorite } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="message-no-favorite pb-5 p-4" style="background-color: #fff; border-radius: 32px;">
        You don't have any favorite books yet. Tap on the Favorite button inside a book to see them here!
      </div>
    <% end %>
  </div>
</div>
