<div class="navbar navbar-bottom">
  <div class="container-fluid">

  <div class="navbar-link">
    <%= link_to root_path, class: "nav-link" do %>
      <%= image_tag "home.svg", alt: "text" %>
      <p>Home</p>
    <% end %>
  </div>

  <div class="navbar-link">
    <%= link_to "#", class: "nav-link" do %>
      <%= image_tag "favorites.svg", alt: "text" %>
      <p>Favorites</p>
    <% end %>
  </div>

  <div class="navbar-link">
    <%= link_to "#", class: "nav-link" do %>
      <%= image_tag "games.svg", alt: "text" %>
      <p>Games</p>
    <% end %>
  </div>

  <div class="navbar-link">
    <%= link_to "#", class: "nav-link" do %>
      <%= image_tag "settings.svg", alt: "text" %>
      <p>Settings</p>
    <% end %>
  </div>

  </div>
</div>
