<div class="navbar navbar-bottom fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-link">
      <%= link_to root_path, class: "nav-link text-center #{ "active" if params[:controller] == "books" && params[:action] == "index" }" do %>
        <i class="fa-solid fa-house" style="font-size: 2rem;"></i>
        <p>Home</p>
      <% end %>
    </div>
    <div class="navbar-link">
      <%= link_to favorites_path, class: "nav-link text-center #{ "active" if params[:controller] == "favorites" && params[:action] == "index" }" do %>
        <i class="fa-solid fa-heart" style="font-size: 2rem;"></i>
        <p>Favorites</p>
      <% end %>
    </div>
    <div class="navbar-link">
      <%= link_to new_book_path, class: "nav-link text-center" do %>
        <i class="fa-solid fa-wand-magic-sparkles" style="font-size: 2rem;"></i>
        <p>AI-Stories</p>
      <% end %>
    </div>
    <div class="navbar-link">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "nav-link text-center #{ "active" if params[:controller] == "users" && params[:action] == "show" }" do %>
          <i class="fa-solid fa-user" style="font-size: 2rem;"></i>
          <p>Settings</p>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "nav-link text-center #{ "active" if params[:controller] == "devise" }" do %>
          <i class="fa-solid fa-user" style="font-size: 2rem;"></i>
          <p>Sign In</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
