<div>
  <strong>Selected Languages:</strong>
  <% if current_user.languages.present? %>
    <% current_user.languages.each_with_index do |language, index| %>
      <div>
        <input type="checkbox" checked disabled id="<%= language %>-<%= index %>">
        <label for="<%= language %>-<%= index %>"><%= language %></label>
      </div>
    <% end %>
  <% else %>
    <p>No languages selected.</p>
  <% end %>
</div>

<div style="margin-top: 16px;">
  <%= link_to "Return to Book", book_path(@book) %>
</div>


<div class="d-flex justify-content-between align-items-center mt-3">
  <% if @page_number > 1 %>
    <%= link_to "← Previous", book_page_path(@book, @page_number - 1), method: :get, class: "btn btn-outline-secondary" %>
  <% else %>
    <span></span>
  <% end %>

  <span>Page <%= @page_number %> of <%= @total_pages %></span>

  <% if @page_number < @total_pages %>
    <%= link_to "Next →", book_page_path(@book, @page_number + 1), method: :get, class: "btn btn-outline-secondary" %>
  <% else %>
    <span></span>
  <% end %>
</div>
