<div class="container my-10">
  <div style="background-color: #e3f2fd; padding: 2rem; border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
    <h1 class="centered-text">Welcome to BUKI APP! </h1>
    <h3 class="centered-text">Select your favorite languages and manage your favorite books by creating an account. </h3>
    <div class="d-flex justify-content-center my-4">
      <button class="btn btn-primary custom-button">Create an account</button>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-12 my-3">
      <%= form_with url: books_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search your book" %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary ms-2" %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-end mb-4">
    <%= link_to "Create Your Own Book", new_book_path, class: "btn btn-success" %>
  </div>

  <h1>Collection</h1>

  <div class="row g-4">
    <% @books.each do |book| %>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
        <%= link_to book_path(book), class: "link-reset w-100", style: "text-decoration: none; color: inherit;" do %>
          <%= render partial: "shared/card", locals: { book: book } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
