<!DOCTYPE html>
<html>
  <head>
    <title>BukiApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/page-flip@2.0.7/dist/js/page-flip.browser.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/page-flip@2.0.7/src/Style/stPageFlip.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <% unless controller_name == 'pages' && action_name == 'show' %>
      <%= render "shared/topbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <div class="content" style="margin-top: 80px; padding-bottom: 120px;">
      <%= yield %>
    </div>
    <% unless controller_name == 'pages' && action_name == 'show' %>
      <%= render "shared/navbar" %>
    <% end %>
  </body>
</html>
